@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Merriweather&family=Metrophobic&family=Noto+Sans&family=Roboto:wght@300&family=Rubik:wght@300&display=swap");

.container {
  background-color: #eff1f3;
  /* background-color: red; */

  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginbox {
  display: flex;
  width: 40vw;
  height: 60vh;
  box-shadow: 1px 1px 2px 2px #b6b6b6;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.activatebox {
  display: flex;
  width: 40vw;
  height: 60vh;
  box-shadow: 1px 1px 2px 2px #b6b6b6;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
}

.activatebox h1 {
  color: #3b3b3b;
}
.registerbox {
  display: flex;
  width: 40vw;
  height: 60vh;
  box-shadow: 1px 1px 2px 2px #b6b6b6;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
}

.page-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.photo-div {
  width: 50vw;
  height: 60vh;
}

.photo-div-register {
  width: 50vw;
  height: 60vh;
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.photo-register {
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.form_container h1 {
  color: #3b3b3b;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1.5px solid #dddddd;
  padding: 8px 8px;
  color: white;
  align-items: flex-start;
  margin-left: 40px;
  margin-right: 40px;
  width: 300px;
}

input:focus {
  outline: none;
}

input {
  color: grey;
  font-family: "Noto Sans";
  font-size: medium;
}

.input-group input {
  background: none;
  border: none;
  color: grey;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: grey;
}

.btn-login {
  background: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  font-family: "Noto Sans";
  text-align: center;
  flex: 1;
  border: 1px solid #545454;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-login:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #616161;
}

.btn-login:focus {
  outline: none;
  border-radius: 10px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545454;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

.email {
  font-family: "Noto Sans";
}

::-webkit-input-placeholder {
  color: grey;
  font-family: "Noto Sans";
  font-size: medium;
}

.bottom-btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  justify-content: center;
}

.bottom-btns h5 {
  text-align: center;
  color: grey;
  font-family: "Lato";
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans";
  text-decoration: none;
  margin: 0;
  font-weight: 700;
}
.bottom-btns h6 {
  text-align: center;
  color: grey;
  font-family: "Lato";
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans";
  text-decoration: underline;
  margin: 0;
  font-weight: 400;
  margin-left: 3px;
}

.lbl {
  text-align: center;
  color: grey;
  font-family: "Lato";
  font-size: 15px;
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans";
  text-decoration: none;
}

.bottom-btns h5:link {
  text-decoration: none;
}

.bottom-btns a {
  display: flex;
  text-decoration: none;
}

.bottom-btns h5:hover {
  text-decoration: none;
}

.form-style {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_input {
  width: 300px;
}
